* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    background: url(https://cdn.forms.office.net/forms/images/aio/wave-pattern-v1.svg)
      center top / cover no-repeat fixed,
    linear-gradient(
      90deg,
      rgba(3, 120, 124, 0.2) 0%,
      rgba(3, 120, 124, 0.8) 100%
    );
    padding-top: 10px;
    padding-bottom: 30px;
}

.navber{
    height: 44px;
    left: 0px;
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 1010;
    background: rgb(250, 250, 250);
    text-align: center;
    color: rgb(33, 33, 33);
    font-size: 17px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.pad{
    padding-bottom: 10px;
}
.nav-text{
    font-size: 20px;
}

.nav-text2{
    border-bottom: 1px solid rgba(3, 120, 124, 0.8);
}

.back-btn{
    cursor: pointer;
}

.material-symbols-outlined{
    font-size: 17px;
}

.container {
    max-width: 800px;
    width: calc(100% - 100px);
    margin: 0 auto;
    padding-top: 60px;
}

.my-form {
    background: white;
}
.header{
    height: 200px;
    background-color: #03787c;
}

.head{
    padding: 50px 0px 10px 50px;
    color: white;
    font-size: 2.375rem;
    text-align: left;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.des{
    padding: 0px 0px 10px 50px;
    color: white;
    font-size: 15PX;
    text-align: left;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.question-div-clean{
    border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    padding-bottom: 0px;
    display: block;
}

.question-header{
    padding-top: 10px;
    padding-left: 60px;
}

.question-title {
    font-size: 15px;
    margin-bottom: 5px;
    width: 90%;
    height: 30px;
    line-height: 50px;
    border:none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
}
.question-body{
    padding-left: 60px; 
 }

 .question-options{
    padding: 30px;
}

.option{
    padding: 10px;
    display: flex;
    align-items: center;
}

.option-radio{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.option-time{
    padding: 6px 10px;
    padding-left: 20px;
    outline: 0px;
    width: 92%;
    font-size: 15px;
    line-height: 20px;
    color: rgb(189, 189, 189);
    background-color: transparent;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.question-body-date{
    padding-left: 10%; 
}

.rating-body{
    padding: 20px 30px 30px 75px;
}
.star{
    color: rgb(184 187 187);
    cursor: pointer;
    font-size: 35px;
}

.text-input-view{
    padding: 6px 10px;
    outline: 0px;
    width: 92%;
    font-size: 15px;
    line-height: 20px;
    color: black;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.question-body-text{
    padding-left: 10%; 
    padding-top: 15px;
}

.submit-btn{
    height: 100px;
    width: 100%; 
    height: 100px;
    width: 100%;
    padding-left: 8%;
    padding-top: 3%;
}

.btn{
    background-color: #03787c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.note{
    background : rgba(255, 255, 255, 0.4);
    padding: 5%;
    font-size: 12px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
}
.p1{
    padding-bottom: 10px;
}
a{
    color: #337ab7;
}